<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>

<body>
<div class="container-utama">
    <h1><strong>Kategori Produk</strong></h1>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Nama Kategori</th>
                <th>Deskripsi</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for item in categories %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>
                    <button onclick="location.href = 'details/{{ item.0 }}';">
                        Detail
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>

</html>