<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

<div class="container-utama">
    <h1><strong>Detail Kategori Produk</strong></h1>
</div>
    <div>
    <button onclick="location.href='{{ products.0.5 }}/update'">
        Edit
    </button>
        <table>
        <p> {{ deskripsi.1 }} </p>
            <thead>
                <tr>
                    <th>Nama Produk</th>
                    <th>Deskripsi</th>
                    <th>Kuantitas</th>
                    <th>Barcode ID</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    <td>{{ item.4 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>